:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;

  --fonte-principal: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0;
  font-size: 1.5em;
  text-align: left;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;
}

div#social a {
  color: var(--destaque);
  transition: color 0.5s;
}

div#social a:hover {
  color: var(--destaque-inverso);
}

.menu-voltar {
  margin-top: 20px;
  text-align: center;
}